<input type="hidden" id="api-token" value="<%=@user.token%>">


<div class="row">
    <div class="col s8">
      <h3 class="profile-header">Welcome back <%=@user.username.capitalize%>!</h3>
    </div>
    <div class="col s4 picture-upload-form">
        <form class="picture-maker" action="/api/pictures" method="post">
        <input type="file" id="url" >
        <!-- <h5>Description</h5><input type="text" id="description"> -->
        <button class="btn-floating btn-medium waves-effect waves-light #26A69A picture-submit" type="submit" name="action"><i class="material-icons right">add</i>
        </button>
        </form>
    </div>
</div>



<!-- <form class="new-picture" action="/api/pictures" method="post">
  <input type="text" name="picture[url]" placeholder="..url">
  <input type="submit" name="url" value="New Pic">
</form> -->

<!-- <% @user.pictures.each do |picture| %>
  <%=picture.id%>
  <%end%> -->

<!-- poll creation form -->
<div class="row">
  <form class="poll-create" action="/polls" method="post">
    <select class="image-picker show-html" data-limit="2" multiple="multiple" name="poll[]">
      <% @user.pictures.each do |picture| %>
        <%=picture.id%>
        <option data-img-src="<%= picture.url %>" value="<%=picture.id%>"><%=picture.id%></option>
      <% end %>
    </select>
    <input type="hidden" name="user[id]" value="<%=@user.id%>">
    <button class="btn waves-effect waves-light" type="submit" name="action">Create Poll</button>
  </form>
</div>


<style media="screen">
  .image_picker_image{

    width: 150px;
    height: 150px;
    border: none;
  }
  /*.thumbnail{
    width: 100%;
  }*/
</style>
<%= javascript_include_tag 'image-picker'%>
<%= javascript_include_tag 'users'%>
