<input type="hidden" id="api-token" value="<%=@user.token%>">
<h3 class="show-header">My polls</h3>

<%@polls.each do |po|%>
<!-- <li>User ID: <%=po.user_id%></li>
<li>--Poll ID:<%=po.id%>--</li>
<li>image: <%=po.picture_1_id%> vs. image: <%=po.picture_2_id%></li> -->


<li class="show-display row">
  <p class="show-display-text1">
    <%= ( ( po.picture_1_votes.to_f / (po.picture_1_votes.to_f+ po.picture_2_votes.to_f) ) * 100).round(2)%>%
    <br><br><br>
  </p>
  <img class="poll-show" src="<%=@pictures[po.picture_1_id - 1].url%> " alt="" />
  <p class="show-display-text2">
    vs.
    <br><br><br>
  </p>
  <img class="poll-show" src="<%=@pictures[po.picture_2_id - 1].url%> " alt="" />
  <p class="show-display-text2">
    <%= ( ( po.picture_2_votes.to_f / (po.picture_1_votes.to_f+ po.picture_2_votes.to_f) ) * 100).round(2)%>%
    <br><br><br>
  </p>

</li>
<br>

<!-- <form class="poll-edit" action="/polls" method="post">
  <input type="hidden" name="_method" value="put">
  <select id="poll-vote" class="image-picker show-html picture" name="pollchoice">
      <option disabled selected> -- select an option -- </option>
      <option data-img-src="<%=@pictures[po.picture_1_id - 1].url%>" value="<%=po.picture_1_id%>"></option>
      <option data-img-src="<%=@pictures[po.picture_2_id - 1].url%>" value="<%=po.picture_2_id%>"></option>

  </select>
  <input type="hidden" name="poll" value="<%=po.id%>">
  <input type="hidden" name="user[id]" value="<%=@user.id%>">
  <input type="submit" value="Pick">
</form> -->

<%end%>
